Repository oauth2-proxy/oauth2-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docs, changelog, tests, provider, dependencies, docker

.github/labeler.yml:

go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'

docs:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

changelog:
  - changed-files:
    - any-glob-to-any-file:
      - 'CHAGELOG.md'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'

provider:
  - changed-files:
    - any-glob-to-any-file:
      - 'providers/**/*'

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'go.mod'
    - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - '**/Dockerfile'

[WIP]Add support for specifying allowed OIDC JWT signing algorithms (#2753)
  main_test.go
  pkg/apis/options/legacy_options.go
  pkg/apis/options/legacy_options_test.go
  pkg/apis/options/providers.go
  providers/providers.go
Labels: go, tests, provider

ENGBUGS-52663 Enable skip Expiry Check
  pkg/validation/options.go
Labels: go

feat: support additional claims
  docs/docs/configuration/alpha_config.md
  pkg/apis/options/providers.go
  pkg/apis/sessions/session_state.go
  pkg/apis/sessions/session_state_test.go
  providers/provider_data.go
  providers/provider_data_test.go
  providers/providers.go
Labels: go, docs, tests, provider

chore: add CHANGELOG
  CHANGELOG.md
Labels: docs

add debug info of id token
  oauthproxy.go
Labels: go

Added validation of configured acr values
  pkg/apis/middleware/session.go
  pkg/apis/options/legacy_options.go
  pkg/apis/options/providers.go
  pkg/apis/sessions/session_state.go
  providers/keycloak.go
  providers/keycloak_oidc.go
  providers/provider_data.go
  providers/provider_default.go
Labels: go, provider

Removed debug logs
  providers/provider_default.go
Labels: go, provider

Added test cases
  providers/provider_data.go
  providers/provider_default_test.go
Labels: go, tests, provider

moving audit to pics folder
  oauthproxy.go
  pkg/pics/audit/audit_client.go
  pkg/pics/audit/audit_error.go
  pkg/pics/audit/audit_event.go
  pkg/pics/audit/audit_metrics.go
  pkg/pics/audit/signature.go
Labels: go

isolating changes on oidc provider
  providers/oidc.go
  providers/pics_oidc.go
Labels: go, provider

reverting changes that only cause conflicts
  pkg/apis/options/load_test.go
  pkg/apis/options/providers.go
  pkg/cookies/cookies.go
  pkg/cookies/csrf_test.go
  pkg/encryption/utils.go
  pkg/encryption/utils_test.go
  pkg/sessions/persistence/ticket.go
  pkg/util/util.go
  pkg/util/util_test.go
  pkg/validation/options.go
  pkg/validation/providers.go
  providers/providers.go
  providers/providers_test.go
Labels: go, tests, provider

revert html formatting
  pkg/app/pagewriter/error.html
  pkg/app/pagewriter/sign_in.html
Labels: none

reverting formatting changes
  pkg/apis/options/legacy_options.go
  pkg/apis/sessions/session_state.go
  pkg/providers/oidc/provider.go
  pkg/util/util_test.go
Labels: go, tests

reverting formatting changes
  providers/providers.go
Labels: go, provider

reverting formatting changes
  providers/azure.go
  providers/github.go
  providers/gitlab.go
  providers/nextcloud.go
  providers/oidc_test.go
Labels: go, tests, provider

reverting formatting changes
  providers/provider_data_test.go
Labels: go, tests, provider

Revert "moving audit to pics folder"
  oauthproxy.go
  pkg/audit/audit_client.go
  pkg/audit/audit_error.go
  pkg/audit/audit_event.go
  pkg/audit/audit_metrics.go
  pkg/audit/signature.go
Labels: go

Revert "isolating changes on oidc provider"
  providers/oidc.go
  providers/pics_oidc.go
Labels: go, provider

pics_oidc
  providers/oidc.go
  providers/pics_oidc.go
Labels: go, provider

moving audit to pics folder
  oauthproxy.go
  pkg/pics/audit/audit_client.go
  pkg/pics/audit/audit_error.go
  pkg/pics/audit/audit_event.go
  pkg/pics/audit/audit_metrics.go
  pkg/pics/audit/signature.go
Labels: go

pics cookie refresh
  oauthproxy.go
  pkg/middleware/pics_cookie_refresh.go
Labels: go

pics legacy options
  pkg/apis/options/legacy_options.go
  pkg/apis/options/legacy_options_test.go
  pkg/apis/options/pics_legacy_options.go
Labels: go, tests

comment unused function
  pkg/apis/options/legacy_options.go
  pkg/apis/options/legacy_options_test.go
  pkg/apis/options/pics_legacy_options.go
Labels: go, tests

revert test change
  pkg/apis/options/legacy_options_test.go
  pkg/apis/options/pics_legacy_options.go
Labels: go, tests

revert test change
  pkg/apis/options/legacy_options_test.go
  pkg/apis/options/pics_legacy_options.go
Labels: go, tests

fix dex chart
  contrib/local-environment/kubernetes/README.md
  contrib/local-environment/kubernetes/values.yaml
Labels: docs
