Repository oauth2-proxy/oauth2-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docs, changelog, tests, provider, dependencies, docker

.github/labeler.yml:

go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'

docs:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

changelog:
  - changed-files:
    - any-glob-to-any-file:
      - 'CHAGELOG.md'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'

provider:
  - changed-files:
    - any-glob-to-any-file:
      - 'providers/**/*'

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'go.mod'
    - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - '**/Dockerfile'

docs tweaks
  docs/docs/configuration/providers/ms_entra_id.md
Labels: docs

final tweaks
  docs/docs/configuration/providers/ms_entra_id.md
Labels: docs

refactor: drop flag for skipping graph groups
  docs/docs/configuration/alpha_config.md
  docs/docs/configuration/providers/ms_entra_id.md
  pkg/apis/options/legacy_options.go
  pkg/apis/options/providers.go
  providers/ms_entra_id.go
Labels: go, docs, provider

apply review suggestion
  README.md
Labels: docs

doc: readme overhaul and azure sponsorship (#2826)
  .github/workflows/stale.yml
  ADOPTERS.md
  README.md
  docs/docs/welcome.md
  docs/static/img/architecture.svg
  docs/static/img/simplified-architecture.svg
  docs/versioned_docs/version-7.6.x/welcome.md
  docs/versioned_docs/version-7.7.x/welcome.md
Labels: docs

Fix relative URLs to configuration page
  docs/docs/features/endpoints.md
  docs/versioned_docs/version-7.6.x/features/endpoints.md
  docs/versioned_docs/version-7.7.x/features/endpoints.md
Labels: docs

doc: fix relative URLs to configuration page (#2818)
  docs/docs/features/endpoints.md
  docs/versioned_docs/version-7.6.x/features/endpoints.md
  docs/versioned_docs/version-7.7.x/features/endpoints.md
Labels: docs

Introducing OAuth2-Proxy Guru on Gurubase.io
  README.md
Labels: docs

fix shield
  README.md
Labels: docs

doc: document claim as JMES Path
  CHANGELOG.md
  docs/docs/configuration/overview.md
  providers/providers.go
Labels: go, docs, provider

Add fix for websocket path rewrite
  pkg/upstream/rewrite.go
Labels: go

update changelog
  CHANGELOG.md
Labels: docs

fix tests
  pkg/upstream/proxy_test.go
Labels: go, tests

update tests
  pkg/upstream/rewrite_test.go
Labels: go, tests

fixup! Add fix for websocket path rewrite
  pkg/upstream/rewrite.go
Labels: go

fix: websocket path rewrite (#2300)
  CHANGELOG.md
  pkg/upstream/proxy_test.go
  pkg/upstream/rewrite.go
  pkg/upstream/rewrite_test.go
Labels: go, docs, tests

feat: add CF-Connecting-IP as supported header
  CHANGELOG.md
  docs/docs/configuration/overview.md
  pkg/apis/options/options.go
  pkg/ip/realclientip.go
  pkg/ip/realclientip_test.go
Labels: go, docs, tests

feat: add CF-Connecting-IP as supported real ip header (#2821)
  CHANGELOG.md
  docs/docs/configuration/overview.md
  pkg/apis/options/options.go
  pkg/ip/realclientip.go
  pkg/ip/realclientip_test.go
Labels: go, docs, tests

Update code_verifier to use recommended method
  CHANGELOG.md
  oauthproxy.go
  pkg/encryption/utils.go
  pkg/encryption/utils_test.go
Labels: go, docs, tests

fix: update code_verifier to use recommended method (#2620)
  CHANGELOG.md
  oauthproxy.go
  pkg/encryption/utils.go
  pkg/encryption/utils_test.go
Labels: go, docs, tests

Better docs
  docs/docs/configuration/overview.md
Labels: docs

direct check of option value
  pkg/cookies/csrf.go
Labels: go

direct use of option value
  pkg/cookies/csrf.go
Labels: go

sort based on clock compare vs time compare
  pkg/cookies/csrf.go
Labels: go

clock.Clock does not implement Compare, fix csrf cookie extraction after rename
  pkg/cookies/csrf.go
Labels: go

chore: extend test cases for oidc provider and documentation regarding implicit setting of the groups scope when no scope was specified in the config
  CHANGELOG.md
  docs/docs/configuration/overview.md
  docs/versioned_docs/version-7.6.x/configuration/overview.md
  docs/versioned_docs/version-7.7.x/configuration/overview.md
  providers/providers_test.go
Labels: go, docs, tests, provider

chore: extend test cases for oidc provider and documentation regarding implicit setting of the groups scope when no scope was specified in the config
  CHANGELOG.md
  docs/docs/configuration/overview.md
  docs/versioned_docs/version-7.6.x/configuration/overview.md
  docs/versioned_docs/version-7.7.x/configuration/overview.md
  providers/providers_test.go
Labels: go, docs, tests, provider

docs: fix incorrect Caddy configuration example
  docs/docs/configuration/integration.md
  docs/versioned_docs/version-7.6.x/configuration/integration.md
  docs/versioned_docs/version-7.7.x/configuration/integration.md
Labels: docs

docs: fix redirect in caddy configuraion example
  docs/docs/configuration/integration.md
  docs/versioned_docs/version-7.6.x/configuration/integration.md
  docs/versioned_docs/version-7.7.x/configuration/integration.md
Labels: docs

docs: display the filename in Caddy configuration example
  docs/docs/configuration/integration.md
  docs/versioned_docs/version-7.6.x/configuration/integration.md
  docs/versioned_docs/version-7.7.x/configuration/integration.md
Labels: docs

docs: add syntax highlighting for nginx config
  docs/docusaurus.config.js
Labels: none

Revert "docs: fix redirect in caddy configuraion example"
  docs/docs/configuration/integration.md
  docs/versioned_docs/version-7.6.x/configuration/integration.md
  docs/versioned_docs/version-7.7.x/configuration/integration.md
Labels: docs

docs: fix headings in `configuration/integration` page
  docs/docs/configuration/integration.md
  docs/versioned_docs/version-7.6.x/configuration/integration.md
  docs/versioned_docs/version-7.7.x/configuration/integration.md
Labels: docs

docs: fix insecure Caddy configuration example (#2827)
  docs/docs/configuration/integration.md
  docs/docusaurus.config.js
  docs/versioned_docs/version-7.6.x/configuration/integration.md
  docs/versioned_docs/version-7.7.x/configuration/integration.md
Labels: docs

Replaced the clock library
  go.mod
  go.sum
  pkg/clock/clock.go
  pkg/clock/clock_test.go
Labels: go, tests, dependencies

Updated changelog
  CHANGELOG.md
Labels: docs

fix bug of pass authorization header
  oauthproxy.go
Labels: go

pass access token in Bearer header
  pkg/apis/options/legacy_options.go
Labels: go

add instruction on pass access token to bearer
  README.md
Labels: docs

fix the Bearer header
  pkg/apis/options/legacy_options.go
Labels: go
