Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2019-10, with the labels that each got.

#272 Fix permalinks for configuration and sessions
  docs/configuration/configuration.md
  docs/configuration/sessions.md
Labels: docs

#273 build: Support Go 1.13.x
  .travis.yml
  CHANGELOG.md
  Dockerfile
  Dockerfile.arm64
  Dockerfile.armv6
  Makefile
  go.mod
  go.sum
Labels: enhancement

#304 Add new Logo! :tada:
  CHANGELOG.md
  README.md
  docs/0_index.md
  docs/_config.yml
  docs/logos/OAuth2_Proxy_horizontal.png
  docs/logos/OAuth2_Proxy_horizontal.svg
  docs/logos/OAuth2_Proxy_icon.png
  docs/logos/OAuth2_Proxy_icon.svg
  docs/logos/OAuth2_Proxy_vertical.png
  docs/logos/OAuth2_Proxy_vertical.svg
Labels: docs, enhancement
