Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2020-09, with the labels that each got.

#616 Add support to ensure user belongs in required groups when using the OIDC provider
  CHANGELOG.md
  docs/configuration/configuration.md
  oauthproxy.go
  oauthproxy_test.go
  pkg/apis/options/options.go
  pkg/apis/sessions/session_state.go
  pkg/apis/sessions/session_state_test.go
  pkg/validation/options.go
  providers/oidc.go
  providers/oidc_test.go
Labels: enhancement

#575 Stop accepting legacy SHA1 signed cookies
  CHANGELOG.md
  pkg/encryption/utils.go
  pkg/encryption/utils_test.go
Labels: breaking

#722 Redis configuration startup validation
  CHANGELOG.md
  pkg/sessions/redis/redis_store.go
  pkg/validation/options.go
  pkg/validation/sessions.go
  pkg/validation/sessions_test.go
Labels: breaking, enhancement

#791 Remove provider GetPreferredUsername getter method
  CHANGELOG.md
  oauthproxy.go
  providers/provider_default.go
  providers/providers.go
Labels: refactor

#753 Pass resource parameter in login url
  CHANGELOG.md
  providers/azure.go
  providers/azure_test.go
  providers/logingov.go
  providers/logingov_test.go
  providers/provider_default.go
  providers/util.go
Labels: breaking, enhancement
