Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2020-06, with the labels that each got.

#567 Allow a health/ping request to be identified by User-Agent
  CHANGELOG.md
  docs/configuration/configuration.md
  logging_handler.go
  logging_handler_test.go
  oauthproxy.go
  pkg/apis/options/options.go
Labels: enhancement

#601 Ensure decrypted user/email are valid UTF8
  CHANGELOG.md
  pkg/apis/sessions/session_state.go
  pkg/apis/sessions/session_state_test.go
Labels: bug

#539 Encryption efficiency improvements
  CHANGELOG.md
  pkg/apis/options/sessions.go
  pkg/apis/sessions/session_state.go
  pkg/apis/sessions/session_state_test.go
  pkg/encryption/cipher.go
  pkg/encryption/cipher_test.go
  pkg/encryption/utils.go
  pkg/encryption/utils_test.go
  pkg/sessions/cookie/session_store.go
  pkg/sessions/redis/redis_store.go
  pkg/sessions/session_store_test.go
  pkg/validation/options.go
Labels: enhancement

#620 Add HealthCheck middleware
  CHANGELOG.md
  go.mod
  go.sum
  http.go
  http_test.go
  logging_handler.go
  logging_handler_test.go
  main.go
  oauthproxy.go
  pkg/middleware/healthcheck.go
  pkg/middleware/healthcheck_test.go
  pkg/middleware/middleware_suite_test.go
  pkg/validation/logging.go
  pkg/validation/options.go
Labels: enhancement, refactor

#597 Don't log invalid redirect if redirect is empty
  CHANGELOG.md
  oauthproxy.go
Labels: bug

#596 Verify main vs extra JWT bearers differently
  CHANGELOG.md
  oauthproxy.go
  oauthproxy_test.go
  pkg/validation/options.go
  providers/oidc_test.go
  providers/provider_default.go
  providers/provider_default_test.go
Labels: bug

#639 Change how gitlab-group is parsed on options
  CHANGELOG.md
  docs/configuration/configuration.md
  pkg/apis/options/options.go
  pkg/validation/options.go
  providers/gitlab.go
  providers/gitlab_test.go
Labels: bug

#641 Update changelog ready for release v6.0.0
  CHANGELOG.md
  README.md
  contrib/local-environment/docker-compose-keycloak.yaml
  contrib/local-environment/docker-compose.yaml
  docs/1_installation.md
  go.mod
  go.sum
  oauthproxy_test.go
Labels: docs

#577 Move Cipher and Session Store initialisation out of Validation
  CHANGELOG.md
  go.sum
  main.go
  oauthproxy.go
  oauthproxy_test.go
  pkg/apis/options/options.go
  pkg/apis/options/sessions.go
  pkg/sessions/cookie/session_store.go
  pkg/sessions/redis/redis_store.go
  pkg/sessions/redis/redis_store_test.go
  pkg/sessions/session_store_test.go
  pkg/validation/options.go
Labels: refactor
