Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2020-12, with the labels that each got.

#907 Introduce alpha configuration option to enable testing of structured configuration
  CHANGELOG.md
  contrib/local-environment/Makefile
  contrib/local-environment/docker-compose-alpha-config.yaml
  contrib/local-environment/oauth2-proxy-alpha-config.cfg
  contrib/local-environment/oauth2-proxy-alpha-config.yaml
  go.mod
  go.sum
  main.go
  main_suite_test.go
  main_test.go
  oauthproxy_test.go
  pkg/apis/options/alpha_options.go
  pkg/apis/options/legacy_options.go
  pkg/apis/options/legacy_options_test.go
  pkg/apis/options/load.go
  pkg/apis/options/load_test.go
  pkg/apis/options/options.go
  pkg/apis/options/util/util.go
  pkg/apis/options/util/util_test.go
  pkg/header/injector_test.go
  pkg/validation/common.go
  pkg/validation/common_test.go
  pkg/validation/header_test.go
Labels: enhancement

#934 Fix and enhance OIDC example
  contrib/local-environment/README.md
  docs/docs/configuration/auth.md
Labels: docs

#936 OIDC Provider Refactor
  CHANGELOG.md
  docs/docs/configuration/overview.md
  pkg/apis/options/options.go
  pkg/validation/options.go
  providers/gitlab.go
  providers/oidc.go
  providers/oidc_test.go
  providers/provider_data.go
  providers/provider_data_test.go
  providers/provider_default.go
  providers/util.go
  providers/util_test.go
Labels: enhancement, refactor

#849 Group/Role Access Restriction support in `/oauth2/auth` endpoint
  CHANGELOG.md
  oauthproxy.go
  oauthproxy_test.go
Labels: enhancement
