Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2020-02, with the labels that each got.

#363 Extension of Redis Session Store to Support Redis Cluster
  CHANGELOG.md
  contrib/oauth2_proxy_autocomplete.sh
  docs/configuration/configuration.md
  docs/configuration/sessions.md
  main.go
  pkg/apis/options/sessions.go
  pkg/sessions/redis/redis_store.go
Labels: enhancement

#335 Support optional id_tokens in refresh responses
  CHANGELOG.md
  providers/oidc.go
  providers/oidc_test.go
Labels: bug, enhancement

#372 GitHub Provider - Fallback to secondary verified email
  CHANGELOG.md
  providers/github.go
Labels: bug

#355 Support for client secret file.
  CHANGELOG.md
  docs/configuration/configuration.md
  options.go
  options_test.go
  providers/azure.go
  providers/gitlab.go
  providers/google.go
  providers/google_test.go
  providers/oidc.go
  providers/provider_data.go
  providers/provider_default.go
Labels: enhancement

#391 Fix #384 - link to sessions.md
  docs/README.md
  docs/configuration/configuration.md
Labels: docs
