Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2020-07, with the labels that each got.

#542 Move SessionStore tests to independent package
  .golangci.yml
  CHANGELOG.md
  go.mod
  go.sum
  pkg/sessions/cookie/session_store_test.go
  pkg/sessions/redis/redis_store_test.go
  pkg/sessions/redis/session_store_test.go
  pkg/sessions/session_store_test.go
  pkg/sessions/tests/session_store_tests.go
Labels: enhancement, refactor

#645 Fix #635: Support specifying alternative provider TLS trust source(s)
  CHANGELOG.md
  docs/configuration/configuration.md
  pkg/apis/options/options.go
  pkg/util/util.go
  pkg/util/util_test.go
  pkg/validation/options.go
  pkg/validation/options_test.go
Labels: enhancement

#654 Close client connections after each redis test
  CHANGELOG.md
  pkg/sessions/redis/session_store_test.go
Labels: bug

#619 Improve Redirect to HTTPs behaviour
  CHANGELOG.md
  http.go
  http_test.go
  main.go
  pkg/middleware/middleware_suite_test.go
  pkg/middleware/redirect_to_https.go
  pkg/middleware/redirect_to_https_test.go
Labels: enhancement, refactor

#656 Split cookies more precisely at 4096 bytes
  CHANGELOG.md
  pkg/sessions/cookie/session_store.go
  pkg/sessions/cookie/session_store_test.go
Labels: enhancement

#576 Separate Cookie validation
  CHANGELOG.md
  pkg/apis/options/cookie.go
  pkg/apis/options/options.go
  pkg/cookies/cookies.go
  pkg/sessions/cookie/session_store.go
  pkg/sessions/cookie/session_store_test.go
  pkg/sessions/redis/redis_store.go
  pkg/sessions/redis/session_store_test.go
  pkg/sessions/session_store.go
  pkg/sessions/session_store_test.go
  pkg/sessions/tests/session_store_tests.go
  pkg/validation/cookie.go
  pkg/validation/cookie_test.go
  pkg/validation/options.go
  pkg/validation/options_test.go
Labels: refactor

#591 Introduce upstream package with new reverse proxy implementation
  CHANGELOG.md
  pkg/apis/options/upstreams.go
  pkg/upstream/file.go
  pkg/upstream/file_test.go
  pkg/upstream/http.go
  pkg/upstream/http_test.go
  pkg/upstream/proxy.go
  pkg/upstream/proxy_test.go
  pkg/upstream/static.go
  pkg/upstream/static_test.go
  pkg/upstream/upstream_suite_test.go
  pkg/validation/upstreams.go
  pkg/validation/upstreams_test.go
  pkg/validation/validation_suite_test.go
Labels: enhancement, refactor

#650 Only set healthcheck user agents when the ping-user-agent is set, and don't check blank user agents against healthcheck user agents
  CHANGELOG.md
  pkg/middleware/healthcheck.go
  pkg/middleware/healthcheck_test.go
Labels: bug

#662 Do not add Cache-Control header to response from auth only endpoint
  CHANGELOG.md
  oauthproxy.go
  oauthproxy_test.go
Labels: bug

#660 Use builder pattern to simplify requests to external endpoints
  CHANGELOG.md
  pkg/requests/builder.go
  pkg/requests/builder_test.go
  pkg/requests/requests.go
  pkg/requests/requests_suite_test.go
  pkg/requests/requests_test.go
  pkg/requests/result.go
  pkg/requests/result_test.go
  pkg/validation/options.go
  providers/azure.go
  providers/bitbucket.go
  providers/digitalocean.go
  providers/facebook.go
  providers/github.go
  providers/gitlab.go
  providers/google.go
  providers/internal_util.go
  providers/keycloak.go
  providers/linkedin.go
  providers/logingov.go
  providers/nextcloud.go
  providers/oidc.go
  providers/provider_default.go
Labels: enhancement, refactor

#668 Add req.host to targetURL when redirecting to https
  CHANGELOG.md
  pkg/middleware/redirect_to_https.go
  pkg/middleware/redirect_to_https_test.go
Labels: bug

#669 Reduce docker context to improve build times
  .dockerignore
  CHANGELOG.md
  Dockerfile
  Dockerfile.arm64
  Dockerfile.armv6
  Makefile
Labels: enhancement

#632 Reduce SessionState size better with MessagePack + LZ4
  CHANGELOG.md
  go.mod
  go.sum
  oauthproxy_test.go
  pkg/apis/sessions/legacy_v5_tester.go
  pkg/apis/sessions/session_state.go
  pkg/apis/sessions/session_state_test.go
  pkg/encryption/cipher.go
  pkg/encryption/cipher_test.go
  pkg/sessions/cookie/session_store.go
  pkg/sessions/redis/redis_store.go
  pkg/sessions/redis/redis_store_test.go
Labels: enhancement

#673 Add option to remove tokens from cookie sessions
  CHANGELOG.md
  docs/configuration/configuration.md
  pkg/apis/options/options.go
  pkg/apis/options/sessions.go
  pkg/sessions/cookie/session_store.go
  pkg/validation/options.go
  pkg/validation/sessions.go
  pkg/validation/sessions_test.go
Labels: enhancement

#687 Refactor HTPasswd Validator
  CHANGELOG.md
  htpasswd.go
  htpasswd_test.go
  main.go
  oauthproxy.go
  pkg/authentication/basic/basic_suite_test.go
  pkg/authentication/basic/htpasswd.go
  pkg/authentication/basic/htpasswd_test.go
  pkg/authentication/basic/test/htpasswd-bcrypt.txt
  pkg/authentication/basic/test/htpasswd-mixed.txt
  pkg/authentication/basic/test/htpasswd-sha1.txt
  pkg/authentication/basic/validator.go
Labels: refactor

#593 Integrate upstream package with OAuth2 Proxy
  CHANGELOG.md
  main.go
  oauthproxy.go
  oauthproxy_test.go
  pkg/apis/options/legacy_options.go
  pkg/apis/options/legacy_options_test.go
  pkg/apis/options/load_test.go
  pkg/apis/options/options.go
  pkg/apis/options/options_suite_test.go
  pkg/apis/options/upstreams.go
  pkg/upstream/http.go
  pkg/upstream/http_test.go
  pkg/validation/options.go
  pkg/validation/options_test.go
  pkg/validation/upstreams.go
  pkg/validation/upstreams_test.go
Labels: enhancement, refactor

#688 Refactor session loading to make use of middleware pattern
  CHANGELOG.md
  oauthproxy.go
  oauthproxy_test.go
  pkg/apis/middleware/scope.go
  pkg/apis/middleware/session.go
  pkg/middleware/basic_session.go
  pkg/middleware/basic_session_test.go
  pkg/middleware/jwt_session.go
  pkg/middleware/jwt_session_test.go
  pkg/middleware/scope.go
  pkg/middleware/scope_test.go
  pkg/middleware/session_utils.go
  pkg/middleware/session_utils_test.go
  pkg/middleware/stored_session.go
  pkg/middleware/stored_session_test.go
  providers/provider_default.go
  providers/provider_default_test.go
Labels: refactor

#682 Centralize Ticket management of persistent stores
  CHANGELOG.md
  pkg/apis/sessions/legacy_v5_tester.go
  pkg/sessions/persistence/interfaces.go
  pkg/sessions/persistence/manager.go
  pkg/sessions/persistence/manager_test.go
  pkg/sessions/persistence/ticket.go
  pkg/sessions/persistence/ticket_test.go
  pkg/sessions/redis/redis_store.go
  pkg/sessions/redis/redis_store_test.go
  pkg/sessions/session_store_test.go
  pkg/sessions/tests/mock_store.go
  pkg/sessions/tests/session_store_tests.go
Labels: refactor

#561 Move provider URLs to package level vars
  CHANGELOG.md
  providers/azure.go
  providers/azure_test.go
  providers/bitbucket.go
  providers/bitbucket_test.go
  providers/digitalocean.go
  providers/digitalocean_test.go
  providers/facebook.go
  providers/facebook_test.go
  providers/github.go
  providers/github_test.go
  providers/gitlab.go
  providers/google.go
  providers/google_test.go
  providers/internal_util_test.go
  providers/keycloak.go
  providers/keycloak_test.go
  providers/linkedin.go
  providers/linkedin_test.go
  providers/logingov.go
  providers/logingov_test.go
  providers/nextcloud.go
  providers/provider_data.go
Labels: refactor

#699 Align persistence ginkgo tests to conventions
  CHANGELOG.md
  go.mod
  go.sum
  pkg/sessions/persistence/manager_test.go
  pkg/sessions/persistence/persistence_suite_test.go
  pkg/sessions/persistence/ticket_test.go
Labels: refactor
