Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2020-08, with the labels that each got.

#689 Fix time issue causing finicky failures in logging tests
  CHANGELOG.md
  logging_handler_test.go
Labels: bug

#690 Address gosec findings
  .golangci.yml
  CHANGELOG.md
  http.go
  main.go
  oauthproxy.go
  pkg/authentication/basic/htpasswd.go
  pkg/encryption/utils.go
  pkg/encryption/utils_test.go
  pkg/logger/logger.go
  pkg/middleware/stored_session.go
  pkg/sessions/cookie/session_store.go
  pkg/sessions/persistence/manager.go
  pkg/sessions/persistence/ticket.go
  pkg/sessions/tests/session_store_tests.go
  pkg/upstream/http.go
  pkg/upstream/proxy.go
  pkg/util/util.go
  pkg/validation/logging.go
  pkg/validation/options.go
  providers/logingov.go
  validator.go
  watcher.go
Labels: refactor

#718 Allow Logging to stdout with separate Error Log Channel
  CHANGELOG.md
  docs/configuration/configuration.md
  http.go
  main.go
  oauthproxy.go
  pkg/apis/options/legacy_options.go
  pkg/apis/options/logging.go
  pkg/authentication/basic/htpasswd.go
  pkg/cookies/cookies.go
  pkg/logger/logger.go
  pkg/middleware/basic_session.go
  pkg/middleware/jwt_session.go
  pkg/middleware/stored_session.go
  pkg/sessions/cookie/session_store.go
  pkg/sessions/redis/redis_store.go
  pkg/upstream/proxy.go
  pkg/validation/logging.go
  pkg/validation/options.go
  providers/azure.go
  providers/bitbucket.go
  providers/google.go
  providers/internal_util.go
  providers/keycloak.go
  providers/provider_data.go
  validator.go
  watcher.go
  watcher_unsupported.go
Labels: enhancement

#719 Add `x-oauth-basic` nosec annotation & address gosec unhandled errors
  CHANGELOG.md
  pkg/logger/logger.go
  pkg/middleware/jwt_session.go
Labels: bug

#714 Support Password & SentinelPassword in Redis session store
  CHANGELOG.md
  docs/configuration/configuration.md
  pkg/apis/options/options.go
  pkg/apis/options/sessions.go
  pkg/sessions/redis/redis_store.go
  pkg/sessions/redis/redis_store_test.go
Labels: enhancement, minor-release

#700 Allow OIDC Bearer Tokens without emails
  CHANGELOG.md
  providers/oidc.go
  providers/oidc_test.go
Labels: bug, minor-release

#715 Ensure session times are not nil before printing them
  CHANGELOG.md
  pkg/apis/sessions/session_state.go
  pkg/apis/sessions/session_state_test.go
Labels: bug, minor-release

#562 Create generic Authorization Header constructor
  CHANGELOG.md
  providers/azure.go
  providers/digitalocean.go
  providers/facebook.go
  providers/github.go
  providers/linkedin.go
  providers/nextcloud.go
  providers/oidc.go
  providers/util.go
  providers/util_test.go
Labels: minor-release, refactor

#733 dist.sh: remove go version from asset links
  CHANGELOG.md
  dist.sh
Labels: enhancement

#742 Only log no cookie match if cookie domains specified
  CHANGELOG.md
  pkg/cookies/cookies.go
Labels: bug

#741 Prepare changelog for v6.1.0 release
  CHANGELOG.md
  README.md
  contrib/local-environment/docker-compose-keycloak.yaml
  contrib/local-environment/docker-compose.yaml
  docs/1_installation.md
Labels: docs

#744 Fix docs: command line options
  docs/2_auth.md
Labels: docs

#729 Use X-Forwarded-Host in Redirects
  CHANGELOG.md
  oauthproxy.go
  pkg/cookies/cookies.go
  pkg/logger/logger.go
  pkg/middleware/redirect_to_https.go
  pkg/middleware/redirect_to_https_test.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: bug

#746 Fix conversion of static responses in upstreams
  CHANGELOG.md
  pkg/apis/options/legacy_options.go
  pkg/apis/options/legacy_options_test.go
  pkg/upstream/proxy.go
  pkg/upstream/static.go
Labels: bug

#748 Prepare CHANGELOG for v6.1.1 release
  CHANGELOG.md
  README.md
  contrib/local-environment/docker-compose-keycloak.yaml
  contrib/local-environment/docker-compose.yaml
  docs/1_installation.md
Labels: docs
