Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2020-10, with the labels that each got.

#783 Update Go to 1.15
  .travis.yml
  CHANGELOG.md
  Dockerfile
  Dockerfile.arm64
  Dockerfile.armv6
  go.mod
Labels: enhancement

#813 Fix build
  CHANGELOG.md
  Makefile
Labels: bug

#750 ci: migrate to Github Actions, close #546
  .github/workflows/ci.yaml
  CHANGELOG.md
  test.sh
Labels: enhancement

#794 Home: Add a brief description of the behavior
  docs/0_index.md
Labels: docs

#801 Update go-redis/redis to v8
  CHANGELOG.md
  go.mod
  go.sum
  pkg/sessions/redis/client.go
  pkg/sessions/redis/redis_store.go
  pkg/sessions/redis/redis_store_test.go
  pkg/validation/sessions_test.go
Labels: enhancement

#789 Support HTTP method based allowlists
  CHANGELOG.md
  docs/configuration/configuration.md
  oauthproxy.go
  oauthproxy_test.go
  pkg/apis/options/options.go
  pkg/validation/allowlist.go
  pkg/validation/allowlist_test.go
  pkg/validation/options.go
  pkg/validation/options_test.go
Labels: enhancement

#705 Add generic Header injectors for upstream request and response headers
  CHANGELOG.md
  pkg/apis/options/common.go
  pkg/apis/options/header.go
  pkg/apis/options/util/util.go
  pkg/apis/options/util/util_suite_test.go
  pkg/apis/options/util/util_test.go
  pkg/apis/sessions/session_state.go
  pkg/header/header_suite_test.go
  pkg/header/injector.go
  pkg/header/injector_test.go
  pkg/middleware/headers.go
  pkg/middleware/headers_test.go
Labels: refactor

#819 Improve CI
  .github/workflows/ci.yaml
  CHANGELOG.md
  Dockerfile
  Dockerfile.arm64
  Dockerfile.armv6
  Makefile
Labels: enhancement

#825 Fix code coverage reporting on GitHub actions
  .github/workflows/ci.yaml
  .github/workflows/test.sh
  CHANGELOG.md
Labels: enhancement

#796 Refactor redeemCode and support a Provider-wide EnrichSessionState method
  CHANGELOG.md
  oauthproxy.go
  oauthproxy_test.go
  pkg/validation/options.go
  providers/github.go
  providers/github_test.go
  providers/gitlab.go
  providers/gitlab_test.go
  providers/provider_default.go
  providers/provider_default_test.go
  providers/providers.go
Labels: refactor
