Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2020-11, with the labels that each got.

#754 Azure token refresh
  CHANGELOG.md
  providers/azure.go
  providers/azure_test.go
Labels: breaking, enhancement

#892 Remove basename from test coverage prefix
  .github/workflows/test.sh
Labels: enhancement

#898 Migrate documentation to Docusaurus
  .github/workflows/docs.yaml
  CHANGELOG.md
  docs/.gitignore
  docs/0_index.md
  docs/404.html
  docs/Gemfile
  docs/Gemfile.lock
  docs/Makefile
  docs/README.md
  docs/_config.yml
  docs/assets/js/search-data.json
  docs/babel.config.js
  docs/docs/behaviour.md
  docs/docs/configuration/auth.md
  docs/docs/configuration/overview.md
  docs/docs/configuration/sessions.md
  docs/docs/configuration/tls.md
  docs/docs/features/endpoints.md
  docs/docs/features/request_signatures.md
  docs/docs/installation.md
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/sidebars.js
  docs/src/css/custom.css
  docs/src/pages/index.md
  docs/src/pages/styles.module.css
  docs/static/.nojekyll
  docs/static/img/architecture.png
  docs/static/img/logos/OAuth2_Proxy_horizontal.png
  docs/static/img/logos/OAuth2_Proxy_horizontal.svg
  docs/static/img/logos/OAuth2_Proxy_icon.png
  docs/static/img/logos/OAuth2_Proxy_icon.svg
  docs/static/img/logos/OAuth2_Proxy_vertical.png
  docs/static/img/logos/OAuth2_Proxy_vertical.svg
  docs/static/img/sign-in-page.png
Labels: enhancement

#826 Integrate new header injectors into project
  CHANGELOG.md
  main.go
  oauthproxy.go
  oauthproxy_test.go
  pkg/apis/options/legacy_options.go
  pkg/apis/options/legacy_options_test.go
  pkg/apis/options/options.go
  pkg/validation/common.go
  pkg/validation/common_test.go
  pkg/validation/header.go
  pkg/validation/header_test.go
  pkg/validation/options.go
  pkg/validation/options_test.go
  pkg/validation/sessions.go
  pkg/validation/sessions_test.go
  pkg/validation/utils.go
Labels: enhancement

#778 Use display-htpasswd-form flag
  CHANGELOG.md
  oauthproxy.go
Labels: bug

#906 Set up v6.1.x versioned documentation as default documentation
  CHANGELOG.md
  docs/docusaurus.config.js
  docs/versioned_docs/version-6.1.x/behaviour.md
  docs/versioned_docs/version-6.1.x/configuration/auth.md
  docs/versioned_docs/version-6.1.x/configuration/overview.md
  docs/versioned_docs/version-6.1.x/configuration/sessions.md
  docs/versioned_docs/version-6.1.x/configuration/tls.md
  docs/versioned_docs/version-6.1.x/features/endpoints.md
  docs/versioned_docs/version-6.1.x/features/request_signatures.md
  docs/versioned_docs/version-6.1.x/installation.md
  docs/versioned_sidebars/version-6.1.x-sidebars.json
  docs/versions.json
Labels: enhancement

#797 Centralize Provider authorization interface method
  CHANGELOG.md
  oauthproxy.go
  oauthproxy_test.go
  pkg/validation/options.go
  providers/azure.go
  providers/google.go
  providers/google_test.go
  providers/logingov.go
  providers/provider_data.go
  providers/provider_default.go
  providers/provider_default_test.go
  providers/providers.go
Labels: breaking, enhancement, refactor

#918 Fix log header output
  CHANGELOG.md
  pkg/logger/logger.go
Labels: bug

#923 Support TLS 1.3
  CHANGELOG.md
  http.go
Labels: enhancement

#916 Add AlphaOptions struct to prepare for alpha config loading
  CHANGELOG.md
  pkg/apis/options/alpha_options.go
  pkg/apis/options/common.go
  pkg/apis/options/common_test.go
  pkg/apis/options/header.go
  pkg/apis/options/legacy_options.go
  pkg/apis/options/legacy_options_test.go
  pkg/apis/options/upstreams.go
  pkg/upstream/http.go
  pkg/upstream/http_test.go
  pkg/validation/upstreams.go
  pkg/validation/upstreams_test.go
Labels: refactor

#925 Fix basic auth legacy header conversion
  CHANGELOG.md
  pkg/apis/options/legacy_options.go
  pkg/apis/options/legacy_options_test.go
Labels: bug

#850 Add User & Groups to Userinfo
  CHANGELOG.md
  oauthproxy.go
  oauthproxy_test.go
Labels: enhancement

#869 Streamline Provider Interface & Bearer Session Handlers
  CHANGELOG.md
  go.mod
  go.sum
  oauthproxy.go
  oauthproxy_test.go
  pkg/apis/middleware/session.go
  pkg/middleware/jwt_session.go
  pkg/middleware/jwt_session_test.go
  pkg/validation/options.go
  providers/digitalocean.go
  providers/facebook.go
  providers/github.go
  providers/gitlab.go
  providers/gitlab_test.go
  providers/google.go
  providers/internal_util_test.go
  providers/linkedin.go
  providers/oidc.go
  providers/oidc_test.go
  providers/provider_data.go
  providers/provider_default.go
  providers/provider_default_test.go
  providers/providers.go
Labels: bug, refactor

#938 Cleanup method name refactors missed in comments
  CHANGELOG.md
  providers/azure.go
  providers/digitalocean.go
  providers/github.go
  providers/gitlab.go
  providers/google.go
  providers/internal_util_test.go
  providers/provider_default.go
  providers/providers.go
Labels: bug
