Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2020-05, with the labels that each got.

#484 Replace configuration loading with Viper
  CHANGELOG.md
  env_options.go
  env_options_test.go
  go.mod
  go.sum
  main.go
  oauthproxy.go
  oauthproxy_test.go
  options.go
  options_test.go
  pkg/apis/options/cookie.go
  pkg/apis/options/load.go
  pkg/apis/options/load_test.go
  pkg/apis/options/sessions.go
  pkg/cookies/cookies.go
  pkg/sessions/cookie/session_store.go
  pkg/sessions/redis/redis_store.go
  pkg/sessions/session_store_test.go
Labels: enhancement, refactor

#487 Switch flags to PFlag to remove StringArray
  CHANGELOG.md
  main.go
  string_array.go
Labels: enhancement, refactor

#510 Add Gitea to auth config docs
  docs/2_auth.md
Labels: docs

#526 Tidy changelog and update releases to v5.1.1
  CHANGELOG.md
  README.md
  docs/1_installation.md
Labels: docs

#515 Drop configure script in favour of native Makefile env and checks
  .travis.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Dockerfile
  Dockerfile.arm64
  Dockerfile.armv6
  Makefile
  configure
Labels: enhancement, refactor

#514 Add basic string functions to templates
  CHANGELOG.md
  templates.go
  templates_test.go
Labels: enhancement

#533 Set up code coverage within Travis for Code Climate
  .gitignore
  .travis.yml
  CHANGELOG.md
  Makefile
  README.md
Labels: enhancement

#535 Drop support for pre v3.1 cookies
  CHANGELOG.md
  pkg/apis/sessions/session_state.go
  pkg/apis/sessions/session_state_test.go
Labels: enhancement

#537 Drop fallback to email when user is empty
  CHANGELOG.md
  oauthproxy.go
  oauthproxy_test.go
  pkg/apis/sessions/session_state.go
  pkg/apis/sessions/session_state_test.go
Labels: enhancement, high-priority

#529 Add local test environments for testing changes and new features
  CHANGELOG.md
  Makefile
  contrib/local-environment/Makefile
  contrib/local-environment/dex.yaml
  contrib/local-environment/docker-compose-nginx.yaml
  contrib/local-environment/docker-compose.yaml
  contrib/local-environment/nginx.conf
  contrib/local-environment/oauth2-proxy-nginx.cfg
  contrib/local-environment/oauth2-proxy.cfg
Labels: enhancement

#538 Refactor the utils package to other areas
  CHANGELOG.md
  options.go
  pkg/encryption/cipher.go
  pkg/sessions/cookie/session_store.go
  pkg/sessions/session_store_test.go
  pkg/sessions/utils/utils.go
  providers/provider_default.go
  providers/providers.go
Labels: refactor

#489 Move Options and Validation to packages
  http.go
  http_test.go
  main.go
  oauthproxy.go
  oauthproxy_test.go
  pkg/apis/ip/interfaces.go
  pkg/apis/options/cookie.go
  pkg/apis/options/load_test.go
  pkg/apis/options/options.go
  pkg/apis/options/sessions.go
  pkg/ip/realclientip.go
  pkg/ip/realclientip_test.go
  pkg/validation/options.go
  pkg/validation/options_test.go
Labels: refactor

#569 Updated autocompletion for `--` long options.
  CHANGELOG.md
  contrib/oauth2-proxy_autocomplete.sh
Labels: bug

#559 Rename cookie-domain config to cookie-domains
  CHANGELOG.md
  contrib/local-environment/oauth2-proxy-nginx.cfg
  contrib/oauth2-proxy.cfg.example
  pkg/apis/options/cookie.go
Labels: bug, high-priority

#414 Always encrypt sessions regardless of configuration
  CHANGELOG.md
  oauthproxy_test.go
  pkg/validation/options.go
  pkg/validation/options_test.go
Labels: bug

#573 Parse Redis cluster and sentinel urls
  CHANGELOG.md
  go.mod
  go.sum
  pkg/sessions/redis/redis_store.go
  pkg/sessions/redis/redis_store_test.go
Labels: bug

#536 Improvements to Session State code
  CHANGELOG.md
  oauthproxy_test.go
  pkg/apis/sessions/session_state.go
  pkg/apis/sessions/session_state_test.go
  pkg/encryption/cipher.go
  pkg/encryption/cipher_test.go
  pkg/sessions/cookie/session_store.go
  pkg/sessions/redis/redis_store.go
  pkg/sessions/session_store_test.go
  providers/azure.go
  providers/gitlab.go
  providers/google.go
  providers/logingov.go
  providers/oidc.go
  providers/oidc_test.go
  providers/provider_default.go
  providers/provider_default_test.go
Labels: refactor

#548 Separate logging options out of main options structure
  CHANGELOG.md
  pkg/apis/options/logging.go
  pkg/apis/options/options.go
  pkg/validation/logging.go
  pkg/validation/options.go
Labels: refactor
