Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2020-03, with the labels that each got.

#430 Add GitHub Action to tidy stale issues
  .github/workflows/stale.yml
Labels: enhancement

#435 Fix issue with group validation called on every request
  CHANGELOG.md
  oauthproxy.go
  oauthproxy_test.go
Labels: bug

#419 Support Go 1.14
  .travis.yml
  CHANGELOG.md
  Dockerfile
  Dockerfile.arm64
  Dockerfile.armv6
  go.mod
  go.sum
  options_test.go
  pkg/sessions/session_store_test.go
  providers/oidc.go
  providers/oidc_test.go
Labels: dependencies, enhancement
