Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2020-01, with the labels that each got.

#351 DigitalOcean Auth Provider
  .github/CODEOWNERS
  CHANGELOG.md
  contrib/oauth2_proxy_autocomplete.sh
  docs/2_auth.md
  providers/digitalocean.go
  providers/digitalocean_test.go
  providers/providers.go
Labels: enhancement

#361 Fix linting error about const
  providers/auth_test.go
  providers/azure_test.go
  providers/bitbucket_test.go
  providers/digitalocean_test.go
  providers/github_test.go
  providers/keycloak_test.go
  providers/linkedin_test.go
  providers/nextcloud_test.go
Labels: enhancement

#365 Disable cgo on release builds
  dist.sh
Labels: bug, high-priority

#353 Fix login page fragment handling after soft reload on Firefox
  CHANGELOG.md
  templates.go
Labels: bug
