Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2020-04, with the labels that each got.

#474 [provider/google] Always log hasMember request error object
  CHANGELOG.md
  providers/google.go
Labels: bug

#483 Warn users when session cookies are split
  CHANGELOG.md
  pkg/sessions/cookie/session_store.go
Labels: enhancement

#486 Add new linters
  .golangci.yml
  CHANGELOG.md
  oauthproxy.go
  oauthproxy_test.go
  options.go
  options_test.go
  pkg/logger/logger.go
  pkg/requests/requests_test.go
  pkg/sessions/cookie/session_store.go
  pkg/sessions/redis/redis_store.go
  providers/bitbucket.go
  providers/github.go
  providers/gitlab.go
  providers/google.go
  providers/keycloak.go
  providers/logingov.go
  providers/oidc.go
  providers/oidc_test.go
  providers/provider_data.go
  providers/provider_default.go
  watcher.go
Labels: refactor

#488 Set-Basic-Auth should default to false
  CHANGELOG.md
  docs/configuration/configuration.md
  main.go
Labels: bug

#494 Make sure websockets respect ssl-upstream-insecure-skip-verify setting.
  CHANGELOG.md
  oauthproxy.go
Labels: bug

#499 Feature/configurable userid claim minimal
  CHANGELOG.md
  docs/configuration/configuration.md
  main.go
  oauthproxy.go
  options.go
  providers/oidc.go
  providers/oidc_test.go
  providers/provider_default.go
  providers/providers.go
Labels: enhancement
