Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2021-09, with the labels that each got.

#1330 Allow specifying URL as input for custom sign in logo
  CHANGELOG.md
  docs/docs/configuration/overview.md
  pkg/apis/options/app.go
  pkg/app/pagewriter/pagewriter.go
  pkg/app/pagewriter/sign_in_page.go
  pkg/app/pagewriter/sign_in_page_test.go
Labels: enhancement

#1357 fix(1356): test if session variable is null
  CHANGELOG.md
  pkg/middleware/basic_session.go
Labels: bug

#1239 Make GitLab Provider based on OIDC Provider
  CHANGELOG.md
  pkg/validation/options.go
  providers/gitlab.go
  providers/gitlab_test.go
  providers/provider_data.go
  providers/provider_data_test.go
Labels: enhancement, refactor
