Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2021-03, with the labels that each got.

#1047 Refactor HTTP Server and add ServerGroup to handle graceful shutdown of multiple servers
  CHANGELOG.md
  docs/docs/configuration/alpha_config.md
  go.mod
  go.sum
  http.go
  http_test.go
  main.go
  main_test.go
  oauthproxy.go
  oauthproxy_test.go
  pkg/apis/options/alpha_options.go
  pkg/apis/options/legacy_options.go
  pkg/apis/options/legacy_options_test.go
  pkg/apis/options/options.go
  pkg/apis/options/server.go
  pkg/http/http_suite_test.go
  pkg/http/server.go
  pkg/http/server_group.go
  pkg/http/server_group_test.go
  pkg/http/server_test.go
Labels: enhancement, refactor

#1045 Ensure redirect URI always has a scheme
  CHANGELOG.md
  oauthproxy.go
  pkg/validation/options.go
Labels: bug

#1087 Request ID Logging
  CHANGELOG.md
  docs/docs/configuration/overview.md
  go.mod
  go.sum
  oauthproxy.go
  pkg/apis/middleware/scope.go
  pkg/apis/options/logging.go
  pkg/app/pagewriter/error.html
  pkg/app/pagewriter/error_page.go
  pkg/app/pagewriter/error_page_test.go
  pkg/app/pagewriter/pagewriter.go
  pkg/app/pagewriter/pagewriter_suite_test.go
  pkg/app/pagewriter/pagewriter_test.go
  pkg/app/pagewriter/sign_in_page.go
  pkg/app/pagewriter/sign_in_page_test.go
  pkg/app/pagewriter/templates_test.go
  pkg/logger/logger.go
  pkg/middleware/request_logger_test.go
  pkg/middleware/scope.go
  pkg/middleware/scope_test.go
  pkg/middleware/stored_session_test.go
  pkg/requests/util/util.go
  pkg/upstream/http_test.go
Labels: enhancement

#1104 Allow custom robots text pages
  CHANGELOG.md
  oauthproxy.go
  oauthproxy_test.go
  pkg/app/pagewriter/pagewriter.go
  pkg/app/pagewriter/robots.txt
  pkg/app/pagewriter/static_pages.go
  pkg/app/pagewriter/static_pages_test.go
Labels: enhancement, refactor

#1115 Fix upstream proxy appending `?` to requests
  CHANGELOG.md
  pkg/upstream/http.go
  pkg/upstream/http_test.go
Labels: bug

#1116 Reinstate preferEmailToUser behaviour for basic auth sessions
  CHANGELOG.md
  oauthproxy.go
  pkg/apis/options/legacy_options.go
  pkg/apis/options/options.go
  pkg/middleware/basic_session.go
  pkg/middleware/basic_session_test.go
Labels: bug

#1130 Fix GitLab CVE test case
  providers/gitlab_test.go
Labels: bug

#1133 Metrics server should be constructed with secure bind address for TLS
  CHANGELOG.md
  oauthproxy.go
Labels: bug, high-priority

#1129 Rewrite OpenRedirect tests in ginkgo
  CHANGELOG.md
  oauthproxy_test.go
Labels: refactor

#1127 Remove unused fields from OAuthProxy
  CHANGELOG.md
  oauthproxy.go
  oauthproxy_test.go
Labels: refactor

#1139 Improve layer sharing in Dockerfile
  Dockerfile
  Dockerfile.arm64
  Dockerfile.armv6
Labels: enhancement
