Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2021-06, with the labels that each got.

#1227 Fix - Refresh Session not working for multiple cookies (#1209)
  CHANGELOG.md
  pkg/middleware/headers.go
  pkg/middleware/headers_test.go
Labels: bug

#1128 Use gorilla mux for OAuth Proxy routing
  CHANGELOG.md
  go.mod
  go.sum
  oauthproxy.go
Labels: refactor

#1226 Move app redirection logic to its own package
  CHANGELOG.md
  oauthproxy.go
  oauthproxy_test.go
  pkg/app/redirect/director.go
  pkg/app/redirect/director_test.go
  pkg/app/redirect/getters.go
  pkg/app/redirect/pagewriter_suite_test.go
  pkg/app/redirect/validator.go
  pkg/app/redirect/validator_test.go
  pkg/requests/util/util.go
Labels: enhancement

#1086 Convert RefreshSessionIfNeeded into RefreshSession
  CHANGELOG.md
  oauthproxy.go
  pkg/apis/sessions/session_state.go
  pkg/apis/sessions/session_state_test.go
  pkg/clock/clock.go
  pkg/middleware/stored_session.go
  pkg/middleware/stored_session_test.go
  pkg/sessions/cookie/session_store.go
  pkg/sessions/persistence/manager.go
  providers/azure.go
  providers/azure_test.go
  providers/facebook.go
  providers/gitlab.go
  providers/google.go
  providers/linkedin.go
  providers/logingov.go
  providers/oidc.go
  providers/oidc_test.go
  providers/provider_default.go
  providers/provider_default_test.go
  providers/providers.go
Labels: enhancement

#1060 Implement RewriteTarget to allow requests to be rewritten before proxying to upstream servers
  CHANGELOG.md
  docs/docs/configuration/alpha_config.md
  go.mod
  go.sum
  pkg/apis/options/upstreams.go
  pkg/upstream/proxy.go
  pkg/upstream/proxy_test.go
  pkg/upstream/rewrite.go
  pkg/upstream/rewrite_test.go
  pkg/upstream/upstream_suite_test.go
Labels: enhancement
