Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2021-12, with the labels that each got.

#1247 Use `upn` as EmailClaim throughout ADFSProvider
  CHANGELOG.md
  providers/adfs.go
  providers/adfs_test.go
Labels: bug

#1471 [Security] Update alpine to 3.15
  CHANGELOG.md
  Dockerfile
Labels: bug

#1481 Prepare changelog for release v7.2.1
  CHANGELOG.md
  README.md
  contrib/local-environment/docker-compose-keycloak.yaml
  contrib/local-environment/docker-compose.yaml
  docs/docs/installation.md
  docs/versioned_docs/version-7.2.x/installation.md
Labels: docs

#1493 Fixing a typo, pointing to correct compose file
  contrib/local-environment/Makefile
Labels: bug, docs
