Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2021-02, with the labels that each got.

#1026 Ensure config flags get parsed correctly when other flags preceed them
  CHANGELOG.md
  main.go
Labels: bug

#1027 Update release process to use makefile go version check
  Makefile
  dist.sh
Labels: bug

#1039 Ensure errors in tests are logged to the GinkgoWriter
  CHANGELOG.md
  main_suite_test.go
  pkg/apis/middleware/middleware_suite_test.go
  pkg/apis/options/options_suite_test.go
  pkg/apis/options/util/util_suite_test.go
  pkg/authentication/basic/basic_suite_test.go
  pkg/header/header_suite_test.go
  pkg/middleware/middleware_suite_test.go
  pkg/requests/requests_suite_test.go
  pkg/requests/util/util_suite_test.go
  pkg/sessions/cookie/session_store_test.go
  pkg/sessions/persistence/persistence_suite_test.go
  pkg/sessions/redis/redis_store_test.go
  pkg/sessions/session_store_test.go
  pkg/upstream/upstream_suite_test.go
  pkg/validation/validation_suite_test.go
  providers/providers_suite_test.go
Labels: bug

#1028 Refactor templates, update theme and provide styled error pages
  CHANGELOG.md
  oauthproxy.go
  pkg/apis/options/app.go
  pkg/apis/options/options.go
  pkg/app/app_suite_test.go
  pkg/app/templates.go
  pkg/app/templates_test.go
  templates.go
  templates_test.go
Labels: enhancement, refactor

#1029 Refactor error page rendering and allow debug messages on error
  CHANGELOG.md
  docs/docs/configuration/overview.md
  oauthproxy.go
  oauthproxy_test.go
  pkg/apis/options/app.go
  pkg/app/error_page.go
  pkg/app/error_page_test.go
  pkg/app/templates.go
  pkg/upstream/proxy.go
  pkg/upstream/proxy_test.go
Labels: enhancement, refactor

#1043 Refactor Sign In Page rendering and capture all page rendering code in pagewriter package
  CHANGELOG.md
  oauthproxy.go
  pkg/app/pagewriter/error_page.go
  pkg/app/pagewriter/error_page_test.go
  pkg/app/pagewriter/pagewriter.go
  pkg/app/pagewriter/pagewriter_suite_test.go
  pkg/app/pagewriter/pagewriter_test.go
  pkg/app/pagewriter/sign_in_page.go
  pkg/app/pagewriter/sign_in_page_test.go
  pkg/app/pagewriter/templates.go
  pkg/app/pagewriter/templates_test.go
Labels: enhancement, refactor

#980 Add Prometheus metrics endpoint
  CHANGELOG.md
  docs/docs/configuration/overview.md
  docs/docs/features/endpoints.md
  go.mod
  go.sum
  main.go
  oauthproxy.go
  pkg/apis/options/options.go
  pkg/middleware/metrics.go
  pkg/middleware/metrics_test.go
  pkg/middleware/testdata/metrics/notfoundrequest.txt
  pkg/middleware/testdata/metrics/successfulrequest.txt
Labels: enhancement

#1052 Update golangci-lint to latest version (v1.36.0)
  .github/workflows/ci.yaml
  CHANGELOG.md
  oauthproxy.go
  pkg/validation/options.go
  providers/logingov.go
  providers/provider_default.go
  providers/providers.go
Labels: enhancement

#1054 Update to Go 1.16
  .github/workflows/ci.yaml
  CHANGELOG.md
  Dockerfile
  Dockerfile.arm64
  Dockerfile.armv6
  go.mod
  pkg/app/pagewriter/error.html
  pkg/app/pagewriter/sign_in.html
  pkg/app/pagewriter/templates.go
  pkg/cookies/cookies.go
Labels: enhancement

#1056 Add option for custom logos on the sign in page
  CHANGELOG.md
  docs/docs/configuration/overview.md
  oauthproxy.go
  pkg/apis/options/app.go
  pkg/app/pagewriter/default_logo.svg
  pkg/app/pagewriter/pagewriter.go
  pkg/app/pagewriter/sign_in.html
  pkg/app/pagewriter/sign_in_page.go
  pkg/app/pagewriter/sign_in_page_test.go
  pkg/app/pagewriter/templates_test.go
Labels: enhancement
