Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2021-04, with the labels that each got.

#1145 Update Changelog for release v7.1.2
  CHANGELOG.md
  contrib/local-environment/docker-compose-keycloak.yaml
  contrib/local-environment/docker-compose.yaml
  docs/docs/installation.md
  docs/versioned_docs/version-7.1.x/installation.md
Labels: docs

#947 Multiple providers in alpha config
  CHANGELOG.md
  contrib/local-environment/oauth2-proxy-alpha-config.cfg
  contrib/local-environment/oauth2-proxy-alpha-config.yaml
  docs/docs/configuration/alpha_config.md
  go.sum
  main_test.go
  oauthproxy.go
  oauthproxy_test.go
  pkg/apis/options/alpha_options.go
  pkg/apis/options/legacy_options.go
  pkg/apis/options/legacy_options_test.go
  pkg/apis/options/load_test.go
  pkg/apis/options/options.go
  pkg/apis/options/providers.go
  pkg/validation/options.go
  pkg/validation/options_test.go
  pkg/validation/providers.go
  pkg/validation/providers_test.go
Labels: enhancement

#1136 Add a clock package for better time mocking
  CHANGELOG.md
  go.mod
  go.sum
  pkg/clock/clock.go
  pkg/clock/clock_suite_test.go
  pkg/clock/clock_test.go
Labels: refactor

#967 Support nonce checks in OIDC Provider
  CHANGELOG.md
  docs/docs/configuration/alpha_config.md
  docs/docs/configuration/overview.md
  main_test.go
  oauthproxy.go
  oauthproxy_test.go
  pkg/apis/options/legacy_options.go
  pkg/apis/options/legacy_options_test.go
  pkg/apis/options/load_test.go
  pkg/apis/options/providers.go
  pkg/apis/sessions/session_state.go
  pkg/apis/sessions/session_state_test.go
  pkg/cookies/cookies.go
  pkg/cookies/cookies_suite_test.go
  pkg/cookies/cookies_test.go
  pkg/cookies/csrf.go
  pkg/cookies/csrf_test.go
  pkg/encryption/nonce.go
  pkg/validation/options.go
  pkg/validation/sessions.go
  providers/azure.go
  providers/azure_test.go
  providers/logingov.go
  providers/logingov_test.go
  providers/oidc.go
  providers/oidc_test.go
  providers/provider_data.go
  providers/provider_data_test.go
  providers/provider_default.go
  providers/provider_default_test.go
  providers/providers.go
Labels: enhancement

#1168 Fix Metrics cfg option naming typo
  CHANGELOG.md
  pkg/apis/options/legacy_options.go
Labels: bug
