Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2021-01, with the labels that each got.

#953 Refactor Keycloak Provider Methods
  CHANGELOG.md
  docs/docs/configuration/auth.md
  pkg/apis/options/options.go
  pkg/validation/options.go
  providers/keycloak.go
  providers/keycloak_test.go
Labels: enhancement, refactor

#995 Add Security Policy
  CHANGELOG.md
  SECURITY.md
  docs/docs/community/security.md
  docs/sidebars.js
  docs/versioned_docs/version-6.1.x/community/security.md
  docs/versioned_sidebars/version-6.1.x-sidebars.json
Labels: docs

#964 Track the ReverseProxy config setting in the request Scope
  CHANGELOG.md
  oauthproxy.go
  oauthproxy_test.go
  pkg/apis/middleware/middleware_suite_test.go
  pkg/apis/middleware/scope.go
  pkg/apis/middleware/scope_test.go
  pkg/cookies/cookies.go
  pkg/logger/logger.go
  pkg/middleware/basic_session.go
  pkg/middleware/basic_session_test.go
  pkg/middleware/headers.go
  pkg/middleware/headers_test.go
  pkg/middleware/jwt_session.go
  pkg/middleware/jwt_session_test.go
  pkg/middleware/redirect_to_https.go
  pkg/middleware/redirect_to_https_test.go
  pkg/middleware/scope.go
  pkg/middleware/scope_test.go
  pkg/middleware/stored_session.go
  pkg/middleware/stored_session_test.go
  pkg/requests/util/util.go
  pkg/requests/util/util_suite_test.go
  pkg/requests/util/util_test.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: enhancement

#903 Add docs and generated reference for Alpha configuration
  .github/workflows/ci.yaml
  CHANGELOG.md
  Makefile
  docs/docs/configuration/alpha_config.md
  docs/docs/configuration/alpha_config.md.tmpl
  docs/sidebars.js
  go.mod
  go.sum
  pkg/apis/options/common.go
  pkg/apis/options/doc.go
  tools/tools.go
Labels: enhancement

#799 Use comma separated multiple values for header
  CHANGELOG.md
  oauthproxy_test.go
  pkg/middleware/headers.go
  pkg/middleware/headers_test.go
Labels: bug
