Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2022-02, with the labels that each got.

#1489 Fix Docker Buildx push to include build version
  CHANGELOG.md
  Makefile
Labels: bug

#1509 Add ValidateSession function to LoginGovProvder to include Auth Header
  CHANGELOG.md
  providers/logingov.go
  providers/logingov_test.go
Labels: bug

#1204 improved audience handling to support client credentials access tokens without aud claims
  CHANGELOG.md
  docs/docs/configuration/alpha_config.md
  docs/docs/configuration/overview.md
  main_test.go
  oauthproxy_test.go
  pkg/apis/options/legacy_options.go
  pkg/apis/options/legacy_options_test.go
  pkg/apis/options/load_test.go
  pkg/apis/options/options.go
  pkg/apis/options/providers.go
  pkg/oidc/oidc_suite_test.go
  pkg/oidc/verify.go
  pkg/oidc/verify_test.go
  pkg/validation/options.go
  providers/adfs_test.go
  providers/azure_test.go
  providers/keycloak_oidc_test.go
  providers/oidc_test.go
  providers/provider_data.go
  providers/provider_data_test.go
Labels: enhancement

#1468 Implement session locking with session state lock
  CHANGELOG.md
  pkg/middleware/stored_session.go
  pkg/middleware/stored_session_test.go
Labels: enhancement

#1394 Add generic claim extractor to get claims from ID Tokens
  CHANGELOG.md
  go.mod
  pkg/providers/util/claim_extractor.go
  pkg/providers/util/claim_extractor_test.go
  pkg/providers/util/util_suite_test.go
  providers/adfs.go
  providers/adfs_test.go
  providers/auth_test.go
  providers/azure.go
  providers/azure_test.go
  providers/digitalocean.go
  providers/facebook.go
  providers/linkedin.go
  providers/nextcloud.go
  providers/nextcloud_test.go
  providers/oidc.go
  providers/oidc_test.go
  providers/provider_data.go
  providers/provider_data_test.go
  providers/util.go
Labels: enhancement, WIP

#1555 Refactor provider configuration into providers package
  CHANGELOG.md
  docs/docs/configuration/alpha_config.md
  oauthproxy.go
  oauthproxy_test.go
  pkg/apis/options/legacy_options.go
  pkg/apis/options/options.go
  pkg/apis/options/providers.go
  pkg/validation/options.go
  pkg/validation/options_test.go
  pkg/validation/providers.go
  providers/adfs.go
  providers/adfs_test.go
  providers/azure.go
  providers/azure_test.go
  providers/bitbucket.go
  providers/bitbucket_test.go
  providers/github.go
  providers/github_test.go
  providers/gitlab.go
  providers/gitlab_test.go
  providers/google.go
  providers/google_test.go
  providers/keycloak.go
  providers/keycloak_oidc.go
  providers/keycloak_oidc_test.go
  providers/keycloak_test.go
  providers/logingov.go
  providers/logingov_test.go
  providers/nextcloud.go
  providers/oidc.go
  providers/oidc_test.go
  providers/provider_data.go
  providers/provider_default_test.go
  providers/providers.go
  providers/providers_test.go
Labels: enhancement

#1560 Fix provider data initialisation
  CHANGELOG.md
  providers/providers.go
  providers/providers_test.go
Labels: bug

#1286 Add allowed_email_domains on auth_request endpoint
  CHANGELOG.md
  docs/docs/configuration/overview.md
  docs/docs/features/endpoints.md
  oauthproxy.go
  oauthproxy_test.go
  pkg/apis/options/options.go
  pkg/app/redirect/validator.go
  pkg/app/redirect/validator_test.go
  pkg/util/util.go
  validator.go
  validator_test.go
Labels: enhancement

#1563 Ensure claim extractor does not attempt profile call when URL is empty
  CHANGELOG.md
  go.mod
  pkg/providers/util/claim_extractor.go
  pkg/providers/util/claim_extractor_test.go
Labels: bug

#1559 Introduce ProviderVerifier to clean up OIDC discovery code
  CHANGELOG.md
  go.mod
  go.sum
  oauthproxy_test.go
  pkg/apis/options/options.go
  pkg/providers/oidc/oidc_suite_test.go
  pkg/providers/oidc/provider.go
  pkg/providers/oidc/provider_test.go
  pkg/providers/oidc/provider_verifier.go
  pkg/providers/oidc/provider_verifier_test.go
  pkg/providers/oidc/verifier.go
  pkg/providers/oidc/verifier_test.go
  pkg/validation/options.go
  providers/adfs_test.go
  providers/azure_test.go
  providers/keycloak_oidc_test.go
  providers/oidc_test.go
  providers/provider_data.go
  providers/provider_data_test.go
  providers/providers.go
  providers/providers_test.go
Labels: enhancement

#1418 Pass URL parameters from /oauth2/start through to IdP login URL
  CHANGELOG.md
  docs/docs/configuration/alpha_config.md
  main_test.go
  oauthproxy.go
  pkg/apis/options/legacy_options.go
  pkg/apis/options/legacy_options_test.go
  pkg/apis/options/login_url_parameters.go
  pkg/apis/options/providers.go
  providers/adfs.go
  providers/adfs_test.go
  providers/azure.go
  providers/azure_test.go
  providers/logingov.go
  providers/logingov_test.go
  providers/oidc.go
  providers/oidc_test.go
  providers/provider_data.go
  providers/provider_data_test.go
  providers/provider_default.go
  providers/provider_default_test.go
  providers/providers.go
  providers/util.go
Labels: enhancement

#1565 Update Docusaurus to 2.0.0-beta.15
  .github/workflows/docs.yaml
  docs/package-lock.json
  docs/package.json
Labels: docs

#1567 Ensure docs release action has correct env
  .github/workflows/docs.yaml
Labels: docs
