Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2023-11, with the labels that each got.

#2269 add azure china support
  CHANGELOG.md
  providers/azure.go
Labels: docs, LGTM, go, changelog, provider

#2278 Improve the Nginx `auth_request` example
  CHANGELOG.md
  contrib/local-environment/docker-compose-nginx.yaml
  contrib/local-environment/nginx.conf
  contrib/local-environment/oauth2-proxy-nginx.cfg
  docs/docs/configuration/overview.md
  docs/docs/configuration/tls.md
  oauthproxy_test.go
Labels: docs, LGTM, go, changelog, tests

#2318 add contribution guide to documentation
  contrib/local-environment/dex.yaml
  contrib/local-environment/docker-compose-keycloak.yaml
  contrib/local-environment/docker-compose.yaml
  contrib/local-environment/oauth2-proxy-keycloak.cfg
  contrib/local-environment/oauth2-proxy.cfg
  docs/docs/community/contribution.md
  docs/sidebars.js
  docs/src/pages/index.md
  docs/static/img/debug-tab.png
  docs/versioned_docs/version-7.5.x/community/contribution.md
  docs/versioned_sidebars/version-7.5.x-sidebars.json
Labels: docs, LGTM

#2297 add nightly build and push
  .github/workflows/nightly.yml
  CHANGELOG.md
  Makefile
  README.md
  docs/docs/installation.md
  docs/src/pages/index.md
  docs/static/img/architecture.png
  docs/static/img/architecture.svg
  docs/static/img/sign-in-page.png
  docs/versioned_docs/version-7.5.x/installation.md
Labels: enhancement, docs, changelog

#1949 Issue 978: Fix Custom cookie name breaks redis for session
  CHANGELOG.md
  pkg/sessions/persistence/ticket.go
  pkg/sessions/persistence/ticket_test.go
Labels: docs, go, changelog, tests

#2248 Support http.AllowQuerySemicolons
  CHANGELOG.md
  docs/docs/configuration/overview.md
  oauthproxy.go
  pkg/apis/options/options.go
Labels: docs, go, changelog

#2299 bugfix: OIDCConfig based providers are not respecting flags and configs
  CHANGELOG.md
  providers/adfs.go
  providers/adfs_test.go
  providers/gitlab.go
  providers/gitlab_test.go
  providers/keycloak_oidc.go
  providers/keycloak_oidc_test.go
  providers/providers.go
Labels: docs, go, changelog, tests, provider
