Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2023-10, with the labels that each got.

#2274 Upgrade golang.org/x/net to v0.17.0
  CHANGELOG.md
  go.mod
  go.sum
Labels: bug, dependencies

#2245 Fix oidc-issuer-url in example
  docs/docs/configuration/auth.md
  docs/versioned_docs/version-7.5.x/configuration/auth.md
Labels: docs

#2237 Issue: 2236 - adds an option to append CA certificates
  CHANGELOG.md
  docs/docs/configuration/alpha_config.md
  docs/docs/configuration/overview.md
  pkg/apis/options/legacy_options.go
  pkg/apis/options/providers.go
  pkg/util/util.go
  pkg/util/util_test.go
  pkg/validation/options.go
Labels: LGTM

#2283 Updated linters
  .golangci.yml
  oauthproxy_test.go
  pkg/apis/sessions/lock.go
  pkg/providers/oidc/verifier_test.go
  pkg/sessions/tests/mock_lock.go
  pkg/validation/header.go
  providers/adfs.go
  providers/internal_util_test.go
  providers/oidc.go
Labels: LGTM

#1866 Add support for unix socket as upstream
  CHANGELOG.md
  docs/docs/configuration/overview.md
  pkg/apis/options/legacy_options.go
  pkg/upstream/http.go
  pkg/upstream/http_test.go
  pkg/upstream/proxy.go
  pkg/upstream/proxy_test.go
  pkg/upstream/upstream_suite_test.go
  pkg/validation/upstreams.go
Labels: docs, LGTM, go, changelog, tests

#2284 Refactored docs
  docs/docs/configuration/alpha_config.md
  docs/docs/configuration/alpha_config.md.tmpl
  docs/docs/configuration/auth.md
  docs/docs/configuration/overview.md
  docs/docs/configuration/providers/adfs.md
  docs/docs/configuration/providers/azure.md
  docs/docs/configuration/providers/azure_ad.md
  docs/docs/configuration/providers/bitbucket.md
  docs/docs/configuration/providers/digitalocean.md
  docs/docs/configuration/providers/facebook.md
  docs/docs/configuration/providers/gitea.md
  docs/docs/configuration/providers/github.md
  docs/docs/configuration/providers/gitlab.md
  docs/docs/configuration/providers/google.md
  docs/docs/configuration/providers/index.md
  docs/docs/configuration/providers/keycloak.md
  docs/docs/configuration/providers/keycloak_oidc.md
  docs/docs/configuration/providers/linkedin.md
  docs/docs/configuration/providers/login_gov.md
  docs/docs/configuration/providers/nextcloud.md
  docs/docs/configuration/providers/openid_connect.md
  docs/docs/configuration/sessions.md
  docs/docs/features/endpoints.md
  docs/docs/installation.md
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/sidebars.js
  pkg/apis/options/legacy_options.go
  pkg/apis/options/upstreams.go
Labels: docs, Hacktoberfest, LGTM, go

#2253 Use updated key names in oauth2-proxy-alpha-config.yaml
  contrib/local-environment/oauth2-proxy-alpha-config.yaml
Labels: LGTM
