Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2024-01, with the labels that each got.

#2366 add breaking change notice for the new auth route regex matching behaviour introduced by #2193
  CHANGELOG.md
Labels: docs, changelog

#2373 fix: fix nginx setup
  contrib/local-environment/oauth2-proxy-nginx.cfg
Labels: docs, LGTM

#2357 Update ojg to latest release
  CHANGELOG.md
  go.mod
  go.sum
Labels: docs, dependencies, LGTM, changelog

#2356 Update go-jose dependency as requested in #2350
  CHANGELOG.md
  go.mod
  go.sum
  pkg/providers/oidc/verifier_test.go
  providers/logingov.go
  providers/logingov_test.go
Labels: docs, dependencies, LGTM, go, changelog, tests, provider

#2382 Introduce GitHub issue forms feature
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/configuration-support.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: docs

#2295 enhancement: Change base image from alpine to distroless
  CHANGELOG.md
  Dockerfile
  Makefile
  README.md
Labels: docs, LGTM, changelog, docker

#2312 Add possibility to encode the state param as UrlEncodedBase64
  CHANGELOG.md
  docs/docs/configuration/overview.md
  oauthproxy.go
  oauthproxy_test.go
  pkg/apis/options/options.go
Labels: docs, LGTM, go, changelog, tests

#2323 NGINX return 403 for sign_in (#2322)
  contrib/local-environment/nginx.conf
  docs/docs/configuration/overview.md
  docs/versioned_docs/version-7.5.x/configuration/overview.md
Labels: docs, LGTM

#2343 chore: Create sha256sum for tar instead of binary
  CHANGELOG.md
  dist.sh
Labels: enhancement, docs, LGTM, changelog

#2345 Log error details when failed loading CSRF cookie
  CHANGELOG.md
  oauthproxy.go
Labels: docs, LGTM, go, changelog

#2375 Feature - Add env variable support for alpha struct
  CHANGELOG.md
  docs/docs/configuration/alpha_config.md
  docs/docs/configuration/alpha_config.md.tmpl
  go.mod
  go.sum
  pkg/apis/options/load.go
  pkg/apis/options/load_test.go
Labels: docs, dependencies, LGTM, go, changelog, tests

#2371 Remove nsswitch DNS resolution workaround
  CHANGELOG.md
  Dockerfile
  nsswitch.conf
Labels: docs, LGTM, changelog, docker

#2377 feat: Added renovate configuration
  .github/renovate.json5
  docs/README.md
  docs/package.json
Labels: docs, LGTM

#2329 Feature/add option to skip loading claims from profile url
  CHANGELOG.md
  docs/docs/configuration/alpha_config.md
  docs/docs/configuration/overview.md
  pkg/apis/options/legacy_options.go
  pkg/apis/options/providers.go
  providers/provider_data.go
  providers/provider_data_test.go
  providers/providers.go
Labels: docs, LGTM, go, changelog, tests, provider

#2381 Add ability to configure username for Redis cluster connections
  CHANGELOG.md
  pkg/apis/options/options.go
  pkg/apis/options/sessions.go
  pkg/sessions/redis/redis_store.go
  pkg/sessions/redis/redis_store_test.go
Labels: docs, LGTM, go, changelog, tests

#2211 Improved dev environment
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  .pre-commit-config.yaml
  .vscode/launch.json
  .vscode/tasks.json
  pkg/http/server_test.go
Labels: LGTM, go, tests, docker

#2224 feature: add release automation workflows
  .github/workflows/create-release.yml
  .github/workflows/publish-release.yml
  RELEASE.md
Labels: enhancement, docs

#2235 upgrading to go 1.21
  .github/workflows/ci.yaml
  .golangci.yml
  CHANGELOG.md
  Dockerfile
  Makefile
  go.mod
  go.sum
  main.go
  main_test.go
  pkg/apis/options/load_test.go
  pkg/apis/options/testutil/options_matcher.go
  pkg/apis/options/testutil/options_matcher_test.go
  pkg/header/injector.go
  pkg/ip/realclientip.go
  pkg/sessions/session_store_test.go
  providers/github.go
  providers/gitlab.go
  providers/keycloak.go
  providers/logingov.go
  providers/nextcloud.go
Labels: docs, dependencies, go, changelog, tests, docker, provider

#2387 docs: add code of conduct
  CODE_OF_CONDUCT.md
Labels: docs

#2388 docs: upgrade to docusaurus 3.1.0
  .github/workflows/docs.yaml
  docs/docs/configuration/overview.md
  docs/docs/configuration/providers/facebook.md
  docs/docs/configuration/providers/github.md
  docs/docs/configuration/providers/gitlab.md
  docs/docs/configuration/providers/keycloak_oidc.md
  docs/docs/configuration/providers/openid_connect.md
  docs/docs/installation.md
  docs/docs/welcome.md
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/sidebars.js
  docs/src/pages/styles.module.css
  docs/static/img/architecture.svg
  docs/versioned_docs/version-6.1.x/behaviour.md
  docs/versioned_docs/version-6.1.x/community/security.md
  docs/versioned_docs/version-6.1.x/configuration/auth.md
  docs/versioned_docs/version-6.1.x/configuration/overview.md
  docs/versioned_docs/version-6.1.x/configuration/sessions.md
  docs/versioned_docs/version-6.1.x/configuration/tls.md
  docs/versioned_docs/version-6.1.x/features/endpoints.md
  docs/versioned_docs/version-6.1.x/features/request_signatures.md
  docs/versioned_docs/version-6.1.x/installation.md
  docs/versioned_docs/version-7.0.x/configuration/auth.md
  docs/versioned_docs/version-7.0.x/configuration/overview.md
  docs/versioned_docs/version-7.1.x/configuration/auth.md
  docs/versioned_docs/version-7.1.x/configuration/overview.md
  docs/versioned_docs/version-7.2.x/configuration/auth.md
  docs/versioned_docs/version-7.2.x/configuration/overview.md
  docs/versioned_docs/version-7.3.x/configuration/auth.md
  docs/versioned_docs/version-7.3.x/configuration/overview.md
  docs/versioned_docs/version-7.4.x/configuration/auth.md
  docs/versioned_docs/version-7.4.x/configuration/overview.md
  docs/versioned_docs/version-7.5.x/configuration/auth.md
  docs/versioned_docs/version-7.5.x/configuration/overview.md
  docs/versioned_sidebars/version-6.1.x-sidebars.json
  docs/versioned_sidebars/version-7.0.x-sidebars.json
  docs/versioned_sidebars/version-7.1.x-sidebars.json
  docs/versioned_sidebars/version-7.2.x-sidebars.json
  docs/versions.json
Labels: docs

#1876 Session aware logout, backend logout url approach
  CHANGELOG.md
  docs/docs/configuration/alpha_config.md
  docs/docs/configuration/overview.md
  oauthproxy.go
  pkg/apis/options/legacy_options.go
  pkg/apis/options/providers.go
  providers/provider_data.go
  providers/providers.go
Labels: docs, LGTM, go, changelog, provider
