Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2024-10, with the labels that each got.

#2798 fix(ci): testing full release cycle before release branches can be merged
  .github/workflows/ci.yaml
  CHANGELOG.md
  Makefile
Labels: docs

#2619 fix: Unable to use hyphen in JSON path for oidc-groups-claim option
  CHANGELOG.md
  pkg/providers/util/claim_extractor.go
  pkg/providers/util/claim_extractor_test.go
Labels: docs, go, tests

#2328 fix: runtime error: index out of range (0) with length 0
  CHANGELOG.md
  oauthproxy.go
  pkg/cookies/csrf.go
  pkg/cookies/csrf_test.go
Labels: docs, go, tests

#2800 doc: add standard opencontainer docker labels
  CHANGELOG.md
  Dockerfile
Labels: docs, docker

#2813 doc: expand on --upstream URL matching and trailing slash behaviour
  docs/docs/configuration/overview.md
  docs/versioned_docs/version-7.7.x/configuration/overview.md
Labels: docs

#2755 feat: add X-Envoy-External-Address as supported header
  CHANGELOG.md
  docs/docs/configuration/overview.md
  pkg/apis/options/options.go
  pkg/ip/realclientip.go
  pkg/ip/realclientip_test.go
Labels: docs, go, tests

#2826 doc: readme overhaul and azure sponsorship
  .github/workflows/stale.yml
  ADOPTERS.md
  README.md
  docs/docs/welcome.md
  docs/static/img/architecture.svg
  docs/static/img/simplified-architecture.svg
  docs/versioned_docs/version-7.6.x/welcome.md
  docs/versioned_docs/version-7.7.x/welcome.md
Labels: docs

#1985 Add support for systemd socket
  CHANGELOG.md
  docs/docs/configuration/overview.md
  docs/docs/configuration/systemd_socket.md
  docs/docs/installation.md
  go.mod
  go.sum
  oauthproxy.go
  pkg/apis/options/legacy_options.go
  pkg/http/server.go
  pkg/http/server_test.go
Labels: docs, dependencies, go, tests

#2818 doc: fix relative URLs to configuration page
  docs/docs/features/endpoints.md
  docs/versioned_docs/version-7.6.x/features/endpoints.md
  docs/versioned_docs/version-7.7.x/features/endpoints.md
Labels: docs
