Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2024-03, with the labels that each got.

#2540 chore: Updated go-jwt to v5
  .golangci.yml
  go.mod
  go.sum
  oauthproxy.go
  pkg/app/pagewriter/error_page.go
  pkg/app/pagewriter/sign_in_page.go
  pkg/header/injector.go
  pkg/middleware/jwt_session.go
  pkg/middleware/jwt_session_test.go
  pkg/providers/oidc/provider_verifier_test.go
  pkg/upstream/proxy.go
  pkg/validation/options.go
  providers/adfs_test.go
  providers/azure_test.go
  providers/logingov.go
  providers/logingov_test.go
  providers/provider_data_test.go
Labels: dependencies, go, tests, provider

#2534 Fix link to Google documentation
  docs/versioned_docs/version-7.6.x/configuration/providers/google.md
Labels: docs, LGTM

#2472 chore: Added renovate configuration
  .github/labeler.yml
  .github/renovate.json5
  .github/workflows/ci.yaml
  .github/workflows/create-release.yml
  .github/workflows/docs.yaml
  .github/workflows/publish-release.yml
  contrib/local-environment/docker-compose-gitea.yaml
  contrib/local-environment/docker-compose-keycloak.yaml
  contrib/local-environment/docker-compose-nginx.yaml
  contrib/local-environment/docker-compose-traefik.yaml
  contrib/local-environment/docker-compose.yaml
  contrib/local-environment/keycloak/master-realm.json
  contrib/local-environment/keycloak/master-users-0.json
  contrib/local-environment/kubernetes/Chart.lock
  contrib/local-environment/kubernetes/Chart.yaml
  contrib/local-environment/kubernetes/Makefile
  contrib/local-environment/kubernetes/README.md
  contrib/local-environment/kubernetes/custom-dns.yaml
  contrib/local-environment/kubernetes/kind-cluster.yaml
  contrib/local-environment/kubernetes/oauth2-proxy-example-full.yaml
Labels: docs

#2548 modify timestamp format in docs
  docs/docs/configuration/overview.md
Labels: docs, LGTM

#2539 pkg/http: Fix leaky test
  CHANGELOG.md
  pkg/http/http_suite_test.go
  pkg/http/server_test.go
Labels: docs, LGTM, go, tests

#2489 feat: adding scope to oauth2-proxy.cfg.example
  contrib/oauth2-proxy.cfg.example
Labels: LGTM

#2538 oauth2-proxy.service.example: Remove syslog.target
  contrib/oauth2-proxy.service.example
Labels: LGTM

#2578 docs/fix-go-install-instruction
  README.md
  docs/docs/installation.md
  docs/versioned_docs/version-7.5.x/installation.md
  docs/versioned_docs/version-7.6.x/installation.md
Labels: docs, LGTM
