Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2024-08, with the labels that each got.

#2723 docs: restructure configuration options overview and optimize build and dependency management
  docs/docs/configuration/overview.md
  docs/versioned_docs/version-7.6.x/configuration/overview.md
Labels: docs

#2738 doc: fix typo in function description
  pkg/middleware/stored_session.go
Labels: go

#2734 Feature/s390x option
  CHANGELOG.md
  Dockerfile
  README.md
  dist.sh
  docs/docs/installation.md
Labels: enhancement, docs, docker
