Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2024-09, with the labels that each got.

#2732 Mention value seperation for plural environment variables
  docs/docs/configuration/overview.md
  docs/versioned_docs/version-7.6.x/configuration/overview.md
Labels: docs

#2589 Add support for rewriteTarget in file: upstreams
  CHANGELOG.md
  docs/docs/configuration/alpha_config.md
  pkg/apis/options/upstreams.go
  pkg/upstream/file.go
  pkg/upstream/file_test.go
  pkg/upstream/proxy.go
  pkg/upstream/proxy_test.go
Labels: docs, go, tests

#2591 Fix broken traefik docs link
  docs/docs/configuration/integration.md
  docs/versioned_docs/version-7.0.x/configuration/overview.md
  docs/versioned_docs/version-7.1.x/configuration/overview.md
  docs/versioned_docs/version-7.2.x/configuration/overview.md
  docs/versioned_docs/version-7.3.x/configuration/overview.md
  docs/versioned_docs/version-7.4.x/configuration/overview.md
  docs/versioned_docs/version-7.5.x/configuration/overview.md
  docs/versioned_docs/version-7.6.x/configuration/integration.md
Labels: docs, LGTM

#2610 chore: fix function names in comment
  oauthproxy.go
  pkg/authentication/basic/htpasswd.go
  pkg/validation/allowlist.go
Labels: docs, go

#2780 doc: fix toml field for provider ca certs
  docs/docs/configuration/overview.md
  docs/versioned_docs/version-7.6.x/configuration/overview.md
Labels: docs

#2759 [doc] Add example for caddy v2 forward_auth
  docs/docs/configuration/integration.md
  docs/versioned_docs/version-7.6.x/configuration/integration.md
Labels: docs

#2790 chore(deps): update all golang dependencies
  .github/workflows/ci.yaml
  .github/workflows/create-release.yml
  CHANGELOG.md
  go.mod
  go.sum
  providers/google.go
Labels: docs, dependencies, go, provider

#2607 Fix(csrf): fix possible infinite loop
  CHANGELOG.md
  pkg/cookies/csrf.go
  pkg/cookies/csrf_test.go
Labels: docs, go, tests
