Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2024-07, with the labels that each got.

#2701 Fix: docs link on SECURITY.md
  SECURITY.md
Labels: docs

#2570 feat: Replace default Go user-agent with oauth2-proxy and version
  CHANGELOG.md
  Makefile
  dist.sh
  main.go
  oauthproxy.go
  pkg/providers/oidc/provider_verifier.go
  pkg/requests/builder.go
  pkg/requests/builder_test.go
  pkg/requests/http.go
  pkg/version/version.go
  providers/oidc.go
Labels: docs, go, tests, provider

#2644 docs: make clear that any access token expiry dates are ignored
  docs/docs/configuration/sessions.md
Labels: docs

#2674 docs: additional notes about available claims for HeaderValue
  CHANGELOG.md
  docs/docs/configuration/alpha_config.md
  pkg/apis/options/header.go
Labels: docs, go

#2711 docs: update provider list with refresh support
  CHANGELOG.md
  docs/docs/configuration/overview.md
Labels: docs
