Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2025-01, with the labels that each got.

#2907 Fix formatting issue in Google provider doc
  docs/docs/configuration/providers/google.md
  docs/versioned_docs/version-7.6.x/configuration/providers/google.md
  docs/versioned_docs/version-7.7.x/configuration/providers/google.md
Labels: docs

#2902 Entra ID: Workload Identity support
  CHANGELOG.md
  docs/docs/configuration/alpha_config.md
  docs/docs/configuration/providers/ms_entra_id.md
  pkg/apis/options/legacy_options.go
  pkg/apis/options/providers.go
  pkg/validation/providers.go
  providers/ms_entra_id.go
Labels: docs, go, provider

#2376 feature: static public keys file support for oidc provider
  CHANGELOG.md
  docs/docs/configuration/alpha_config.md
  docs/docs/configuration/overview.md
  pkg/apis/options/legacy_options.go
  pkg/apis/options/providers.go
  pkg/providers/oidc/provider_verifier.go
  pkg/providers/oidc/provider_verifier_test.go
  providers/providers.go
  providers/providers_test.go
Labels: docs, go, tests, provider

#2888 fix: jwt regex validation error during skip-jwt-bearer-tokens flow
  CHANGELOG.md
  pkg/middleware/jwt_session.go
  pkg/middleware/jwt_session_test.go
Labels: bug, docs, go, tests

#2920 fix: missing oauth2-proxy version for docker builds
  CHANGELOG.md
  Dockerfile
Labels: docs, docker

#2927 chore(deps/build): bump golang to 1.23 and use go.mod as single point of truth for all build files
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  CHANGELOG.md
  Dockerfile
  Makefile
  go.mod
  go.sum
  providers/google_test.go
Labels: docs, dependencies, go, tests, docker, provider
