Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2025-02, with the labels that each got.

#2960 fix: wrong documentation for --trusted-ip (#2959)
  docs/docs/configuration/overview.md
  docs/versioned_docs/version-7.6.x/configuration/overview.md
  docs/versioned_docs/version-7.7.x/configuration/overview.md
  docs/versioned_docs/version-7.8.x/configuration/overview.md
Labels: docs

#2697 pkg/cookies: use 'Max-Age' instead of 'Expires' for cookie expiration
  CHANGELOG.md
  pkg/cookies/cookies.go
  pkg/cookies/cookies_suite_test.go
  pkg/cookies/cookies_test.go
  pkg/cookies/csrf.go
  pkg/cookies/csrf_per_request_test.go
  pkg/cookies/csrf_test.go
  pkg/sessions/cookie/session_store.go
  pkg/sessions/persistence/ticket.go
  pkg/sessions/tests/session_store_tests.go
Labels: docs, go, tests

#2969 Update golang.org/x/oauth2 to v0.27.0.
  CHANGELOG.md
  go.mod
  go.sum
Labels: docs, dependencies
