Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2025-05, with the labels that each got.

#3051 docs: add note to footer option for obfuscating the version
  docs/docs/configuration/overview.md
  docs/versioned_docs/version-7.6.x/configuration/overview.md
  docs/versioned_docs/version-7.7.x/configuration/overview.md
  docs/versioned_docs/version-7.8.x/configuration/overview.md
  docs/versioned_docs/version-7.9.x/configuration/overview.md
Labels: docs

#3065 chore(deps): drop golang.org/x/exp/{slices,maps}
  go.mod
  go.sum
  providers/azure.go
  providers/github.go
Labels: dependencies, go, provider

#3072 feat: support for multiple github orgs
  CHANGELOG.md
  docs/docs/configuration/providers/github.md
  providers/github.go
  providers/github_test.go
Labels: docs, go, tests, provider
