Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2025-03, with the labels that each got.

#2977 Update golang.org/x/net to v0.36.0.
  CHANGELOG.md
  go.mod
  go.sum
Labels: docs, dependencies

#2982 chore(dep): remove go:generate dependencies from go.mod
  CHANGELOG.md
  go.mod
  go.sum
  pkg/apis/options/doc.go
  tools/tools.go
Labels: docs, dependencies, go

#3011 chore(deps): update golang dependencies and pin to latest golang v1.23.x release
  CHANGELOG.md
  go.mod
  go.sum
Labels: docs, dependencies

#2967 feat: update HashNonce to use crypto/sha256
  CHANGELOG.md
  pkg/encryption/nonce.go
Labels: docs, go

#3002 docs: fix gitlab docs url for oauth2 integration
  docs/docs/configuration/providers/gitlab.md
  docs/versioned_docs/version-7.6.x/configuration/providers/gitlab.md
  docs/versioned_docs/version-7.7.x/configuration/providers/gitlab.md
  docs/versioned_docs/version-7.8.x/configuration/providers/gitlab.md
Labels: docs

#3001 feat: allow to set non-default authorization request response mode
  .devcontainer/Dockerfile
  CHANGELOG.md
  docs/docs/configuration/alpha_config.md
  docs/docs/configuration/overview.md
  pkg/apis/options/legacy_options.go
  pkg/apis/options/providers.go
  providers/provider_data.go
  providers/provider_default.go
  providers/provider_default_test.go
  providers/providers.go
Labels: docs, go, tests, docker, provider
