Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2025-07, with the labels that each got.

#3101 fix: return error for empty Redis URL list
  CHANGELOG.md
  pkg/sessions/redis/redis_store.go
  pkg/sessions/redis/redis_store_test.go
Labels: docs, go, tests

#3136 Fix local-environment ports
  contrib/local-environment/dex.yaml
  contrib/local-environment/docker-compose-gitea.yaml
  contrib/local-environment/docker-compose-keycloak.yaml
  contrib/local-environment/docker-compose-nginx.yaml
  contrib/local-environment/docker-compose.yaml
  contrib/local-environment/oauth2-proxy-alpha-config.yaml
  contrib/local-environment/oauth2-proxy-keycloak.cfg
  contrib/local-environment/oauth2-proxy-nginx.cfg
  contrib/local-environment/oauth2-proxy-traefik.cfg
  contrib/local-environment/oauth2-proxy.cfg
  docs/docs/community/contribution.md
  docs/versioned_docs/version-7.10.x/community/contribution.md
Labels: docs

#2524 fix: regex substitution for $ signs in upstream path handling before running envsubst
  CHANGELOG.md
  pkg/apis/options/load.go
  pkg/apis/options/load_test.go
Labels: enhancement, docs, go, tests

#3138 feat: make `google_groups` argument optional when using google provider
  CHANGELOG.md
  docs/docs/configuration/providers/google.md
  pkg/validation/options_test.go
  pkg/validation/providers.go
  providers/google.go
  providers/google_test.go
Labels: docs, go, tests, provider

#3093 feat: differentiate between "no available key" and error for redis sessions
  CHANGELOG.md
  pkg/sessions/redis/redis_store.go
Labels: docs, go
