Repository oauth2-proxy/oauth2-proxy, pull requests merged in 2025-04, with the labels that each got.

#2924 Add --bearer-token-login-fallback option
  CHANGELOG.md
  docs/docs/configuration/overview.md
  oauthproxy.go
  pkg/apis/options/load_test.go
  pkg/apis/options/options.go
  pkg/middleware/jwt_session.go
  pkg/middleware/jwt_session_test.go
Labels: docs, go, tests

#3041 chore(deps): upgrade to latest golang v1.23.x release
  CHANGELOG.md
  go.mod
Labels: docs, dependencies

#3031 fix(entra-id): use federated credentials for refresh token
  CHANGELOG.md
  providers/ms_entra_id.go
Labels: docs, go, provider

#2930 chore(build): make it easier to use makefile (pun intended)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/publish-release.yml
  Makefile
  README.md
  RELEASE.md
  docs/docs/community/contribution.md
  docs/versioned_docs/version-7.8.x/community/contribution.md
Labels: docs

#1916 fix: role extraction from access token in keycloak oidc
  CHANGELOG.md
  providers/keycloak_oidc.go
  providers/keycloak_oidc_test.go
Labels: bug, docs, go, tests, provider

#3014 feat: ability to parse JWT encoded profile claims
  CHANGELOG.md
  pkg/providers/util/claim_extractor.go
  pkg/providers/util/claim_extractor_test.go
Labels: docs, go, tests

#3046 docs: clear up multiple-providers is unimplemented
  docs/docs/configuration/alpha_config.md
  docs/docs/configuration/providers/index.md
  docs/versioned_docs/version-7.8.x/configuration/alpha_config.md
  docs/versioned_docs/version-7.8.x/configuration/providers/index.md
  docs/versioned_docs/version-7.9.x/configuration/alpha_config.md
  docs/versioned_docs/version-7.9.x/configuration/providers/index.md
  pkg/apis/options/alpha_options.go
  pkg/apis/options/providers.go
Labels: docs, go
